footer{
    background: #1b1b1f;
    width: 100%;
    padding: 25px;
    text-align: center;
    margin: auto;
    margin-top: 25px;
    position: relative;
    bottom: 0;
}

a{
    color: white;
    padding-left: 25px;
    padding-right: 25px;
}

a:hover{
    text-decoration: none;
    color: #eeeeee;
}