.container{
    display: block;
    width: 100%;
}

.cardRegister{
    width: 75%;
    background: url('../img/imageLogin.jpg');
    background-position: center;
    background-size: cover;
    margin: auto;
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    padding:40px;

    -webkit-box-shadow: inset 17px -20px 48px -16px rgba(0,0,0,0.33);
    -moz-box-shadow: inset 17px -20px 48px -16px rgba(0,0,0,0.33);
    box-shadow: inset 17px -20px 48px -16px rgba(0,0,0,0.33);       
}

.form-registro{
    width: 75%;
    padding: 20px;
    margin: auto;
    background:white;
}

.icon{
    width: 100%;
    margin: auto;
    margin-top: 25px;
    text-align: center;
    font-size: 60px;
}

.form-registro h3{
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}

.form{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.contenedorIzquierdo{
    width: 48%;
}
.contenedorDerecho{
    width:48%;
}

.form-registro form{
    width: 100%;
    text-align: center;
    margin: auto;
    margin-bottom: 25px;
}

.form-registro form input{
    width: 100%;
    display: block;
    padding: 10px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin:auto;
    overflow: hidden;
}

.form-registro form ul{
    width: 100%;
    display: block;
    padding: 10px 5px;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 10px;
    text-decoration: none;
    list-style: none;
    text-align: left;
}

.form-registro form ul li{
    text-decoration: none;
}

.form-registro form input[type=submit]{
    width: 50%;
    border-radius: 5px;
    border: none;
    padding: 10px;
    background: linear-gradient(90deg, #1089ff 0%, #4fb1ff 100%);
    color: #fff;
    cursor: pointer;
    font-weight: 700;
}

.error{
    width: 70%;
    margin: auto;
    margin-top: 20px;
    background:#f64e60;
}

.error ul{
    width: 100%;
}