.modal{
    margin: auto;
    width:auto;
    height: auto;
    padding:0px;
}

    .modalContainer{
        padding: 20px;
    }
    .modal h2{
        text-align: center;
        padding: 10px;
        padding-left: 50px;
        padding-right: 50px;
        margin-bottom: 15px;
        background: #212529;
        color: #fff;
    }

    .modal .formPassword{
        
    }

        .modal .formPassword input{
            width: 80%;
            display: block;
            padding: 10px 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin: auto;
        }

        .modal .formPassword ul{
            width: 80%;
            display: block;
            padding: 10px 5px;
            border-radius: 5px;
            margin: auto;
            margin-bottom: 10px;
            text-decoration: none;
            list-style: none;
        }

        .modal .formPassword ul li{
            text-decoration: none;
        }

        .modal form button{
            display: block;
            width: 50%;
            margin:auto;
            text-align: center;
            padding: 10px;
            padding-left: 25px;
            padding-right: 25px;
            color: white;
            background: #212529;
            cursor: pointer;
            border: none;
            font-weight: 600;
        }
        .modal form button:hover{
            color:white;
            background: #1089ff;
        }